*{
    /* Css reset - resets the premade margins and padding by browser */
    margin: 0;
    padding: 0;

    /* 
    box sizing - it determines how the dimentions of a box will be computed 
    */
    box-sizing: border-box;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#div1{
    /* 
    margin is the space outside the element
    padding is the the space between the content box and the border
    */
    /* margin: 50px; */
    padding: 20px;
    border: 2px solid black;
    width: 100px;
    height: 100px;
    display: inline-block;
}

#div2{
    /* margin: 25px 100px; */
    /* margin: 10px 70px 50px; */
    /* margin: 100px 10px 15px 50px; */
    /* margin-top: 10px; */
    border: 2px solid black;
    padding: 20px;
    background-color: red;
    height: 100px;
    width: 100px;
    display: inline-block;

        /* the contents of the element will be align to the top of the box */
    vertical-align: top;
}

#span1{
    display: inline-block;
    border: 2px solid black;
    padding: 20px;
    background-color: green;
    height: 100px;
    width: 100px;
}

#span2{
    display: inline-block;
    border: 2px solid black;
    background-color: blue;
    height: 100px;
    width: 100px;
}