/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
}

nav{
    padding: .8rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid grey;
}

nav>ul{
    list-style-type: none;
}

/* use , for multiple selector */
nav .nav, nav .nav-logo{
    margin: .5rem;
    display: inline;
}

/* INTRO section */

#intro{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;
}

#intro h2, #intro p{
    margin-bottom: 1rem;
}

#intro button{
    color: white;
    font-weight: bold;
    background-color: #c2395b;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 25px;
}

/* INFO section */

#info {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;
}

#info>h2{
    margin-bottom: 1rem;
}

#info>div{
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    /* percentage value inwidth means that the element will occupy the 30% of the viewport width */
    width: 30%;
    margin-left: .5rem;
    margin-right: .5rem;
    padding: 5px;
    /* sets the minimum height */
    min-height: 150px;
}

#info h3{
    margin-bottom: 1rem;
}

/* pre footer */
#pre-footer{
    font-size: 1rem;
    padding-top: 1.5rem;
    padding-left: 1rem;
    padding-bottom: 1.5rem;
    background-color: #003554;
}

#pre-footer>div{
    color: white;
    display: inline-block;
    width: 20%;
    
}

section>#follow{
    position:relative;
    bottom: 2.4rem;
}

footer{
    position: relative;
    padding-left: 1rem;
}